# Module 4 Challenge: PyCity Schools Analysis

### *Instructions*
  Using Pandas and Jupyter Notebook, create a report that includes the following data. 
  Your report must include a written description of at least two observable trends based 
  on the data.

Hint: Check out the sample solution called `PyCitySchools_starter.ipynb` located in the 
    .zip file to review the desired format for this assignment.

In [1]:
# Dependencies
import pandas as pd # as pd just means to shorten pandas

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary
Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame.

Include the following:

* Total number of unique schools
* Total students
* Total budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [2]:
# Unique schools total
U_schools = school_data_complete["school_name"].unique()
countU_schools = len(U_schools)
countU_schools

# Total Students
count_students = len(school_data_complete["Student ID"])
count_students

# Total Budget- this needs to be from the school data file not the combined bc repeats
total_budget = school_data["budget"].sum()
total_budget

# Average Math Score
average_math = school_data_complete["math_score"].mean()
average_math

# Average reading Score
average_reading = school_data_complete["reading_score"].mean()
average_reading

# % passing math
pass_math = (school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"])/ float(count_students) * 100
pass_math

# % passing reading
pass_reading = (school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"])/ float(count_students) * 100
pass_reading

# % overall passing
pass_both = (school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
    ].count()["student_name"])/ float(count_students) * 100
pass_both

# Place all of the data found into a summary DataFrame
district_summary = pd.DataFrame({"Total Unique Schools": [countU_schools],
                              "Total Students": count_students,
                              "Total Budget": total_budget,
                              "Average Math Score": average_math,
                               "Average Reading Score" : average_reading,
                               "% Passing Math" : pass_math,
                               "% Passing Reading" : pass_reading,
                               "% Overall Passing": pass_both
                          })

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary
Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school.

Include the following:
* School name
* School type
* Total students
* Total school budget
* Per student budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [3]:
school_data.columns

school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [4]:
# This may just be school_data
school_types = school_data.set_index(["school_name"])["type"]

Total_Students = school_data.set_index(["school_name"])["size"]
Total_Students

Total_School_Budget = school_data.groupby(["school_name"]).mean()["budget"]
Total_School_Budget


Per_Student_Budget = Total_School_Budget / Total_Students
Per_Student_Budget

# Now need the big data set school_data_complete
School_Math =  school_data_complete.groupby(["school_name"]).mean()["math_score"]
School_Math = round(School_Math, 2)
School_Reading =  school_data_complete.groupby(["school_name"]).mean()["reading_score"]
School_Reading = round(School_Reading, 2)

In [5]:
# % passing math 
passing_math =  school_data_complete[(school_data_complete['math_score'] >= 70)]
pct_school_mathpass = passing_math.groupby(["school_name"])["student_name"].count() / Total_Students * 100
pct_school_mathpass = round(pct_school_mathpass, 2)
pct_school_mathpass

# % passing reading 
passing_reading =  school_data_complete[(school_data_complete['reading_score'] >= 70)]
pct_school_readingpass = passing_reading.groupby(["school_name"])["student_name"].count() / Total_Students * 100
pct_school_readingpass = round(pct_school_readingpass, 2)
pct_school_readingpass

# get the overall passing rate for each school
school_both_pass = (pct_school_mathpass + pct_school_readingpass) / 2
school_both_pass = round(school_both_pass, 2)
school_both_pass

# Create a dataframe showing school summary info
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Students": Total_Students,
    "Total School Budget": Total_School_Budget,
    "Per Student Budget": Per_Student_Budget,
    "Average Math Score": School_Math,
    "Average Reading Score": School_Reading,
    "% Passing Math": pct_school_mathpass,
    "% Passing Reading": pct_school_readingpass,
    "Overall Pass Rate": school_both_pass
})

# Display the DataFrame
per_school_summary

,School Type,Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,95.58
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,73.36
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,73.81
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,95.26
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,73.81
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,94.38
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,73.64
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,95.27
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,73.30
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,94.86
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,95.29
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,95.21
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,94.97

### Highest-Performing Schools (by % Overall Passing)
Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

Save the results in a DataFrame called "top_schools".

In [6]:
top_schools = per_school_summary.sort_values("Overall Pass Rate", ascending = False)
top_schools.head()

,School Type,Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,95.58
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,95.29
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,95.27
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,95.26
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,95.21

## Lowest-Performing Schools (by % Overall Passing)
Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

Save the results in a DataFrame called "bottom_schools".

In [7]:
bottom_schools = per_school_summary.sort_values("Overall Pass Rate", ascending = True)
bottom_schools.head()

,School Type,Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,73.30
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,73.36
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,73.64
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,73.81

### Math Scores by Grade
Perform the necessary calculations to create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [8]:
ninth = school_data_complete.loc[school_data_complete["grade"] == "9th"]
tenth = school_data_complete.loc[school_data_complete["grade"] == "10th"]
eleventh = school_data_complete.loc[school_data_complete["grade"] == "11th"]
twelfth = school_data_complete.loc[school_data_complete["grade"] == "12th"]

math_ninth = ninth.groupby("school_name")["math_score"].mean()
math_tenth = tenth.groupby("school_name")["math_score"].mean()
math_eleventh = eleventh.groupby("school_name")["math_score"].mean()
math_twelfth = twelfth.groupby("school_name")["math_score"].mean()

math_grades = pd.DataFrame({"9th":math_ninth, "10th":math_tenth, 
                             "11th":math_eleventh, "12th":math_twelfth})

math_grades = round(math_grades, 2)

# Minor data wrangling
math_grades.index.name = None

math_grades

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

### Reading Scores by Grade
Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [9]:
reading_ninth = ninth.groupby("school_name")["reading_score"].mean()
reading_tenth = tenth.groupby("school_name")["reading_score"].mean()
reading_eleventh = eleventh.groupby("school_name")["reading_score"].mean()
reading_twelfth = twelfth.groupby("school_name")["reading_score"].mean()

reading_grades = pd.DataFrame({"9th":reading_ninth, "10th":reading_tenth, 
                             "11th":reading_eleventh, "12th":reading_twelfth})

reading_grades = round(reading_grades, 2)


reading_grades.index.name = None

reading_grades

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

### Scores by School Spending
Create a table that breaks down school performance based on average spending ranges (per student).

Use the code provided below to create four bins with reasonable cutoff values to group school spending
        
        spending_bins = [0, 585, 630, 645, 680]
        labels = ["<$585", "$585-630", "$630-645", "$645-680"]

Use `pd.cut` to categorize spending based on the bins.

Use the following code to then calculate mean scores per spending range.
        
        spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
    spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
    spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
    spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
    overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

Use the scores above to create a DataFrame called `spending_summary.`

Include the following metrics in the table:
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [10]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [11]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [12]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)

In [14]:
spending_groups = school_spending_df.loc[:, ["Spending Ranges (Per Student)","Average Math Score", "Average Reading Score",
                                     "% Passing Math", "% Passing Reading",
                                     "Overall Pass Rate"]].groupby("Spending Ranges (Per Student)")
spending_groups.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
Spending Ranges (Per Student),,,,,
<$585,83.452500,83.935000,93.460000,96.610000,95.035
$585-630,81.900000,83.155000,87.132500,92.717500,89.925
$630-645,78.517500,81.625000,73.485000,84.392500,78.940
$645-680,76.996667,81.026667,66.163333,81.133333,73.650

In [15]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Overall Pass Rate"]

In [24]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    "Overall Passing Rate": overall_passing_spending
            
})

spending_summary.index.name = "Per Student Budget"
spending_summary = spending_summary.reindex(labels)

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Per Student Budget,,,,,
<$585,83.452500,83.935000,93.460000,96.610000,95.035
$585-630,81.900000,83.155000,87.132500,92.717500,89.925
$630-645,78.517500,81.625000,73.485000,84.392500,78.940
$645-680,76.996667,81.026667,66.163333,81.133333,73.650

### Scores by School Size
Use the following code to bin the `per_school_summary.`

    size_bins = [0, 1000, 2000, 5000]
    labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

Use `pd.cut` on the "Total Students" column of the per_school_summary DataFrame.

Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).

In [28]:
# Establish the bins 
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Create a copy of the school summary since it has the "Students" 
school_size_df = per_school_summary.copy()

# Use `pd.cut` to categorize size based on the bins.
school_size_df["Size Ranges (Per Student)"] = pd.cut(school_size_df["Students"], size_bins, labels=size_labels)

size_groups = school_size_df.loc[:, ["Size Ranges (Per Student)","Average Math Score", "Average Reading Score",
                                     "% Passing Math", "% Passing Reading",
                                     "Overall Pass Rate"]].groupby("Size Ranges (Per Student)")
size_groups.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
Size Ranges (Per Student),,,,,
Small (<1000),83.820,83.92500,93.55000,96.10000,94.8250
Medium (1000-2000),83.374,83.86800,93.59800,96.79000,95.1920
Large (2000-5000),77.745,81.34375,69.96375,82.76625,76.3675

In [29]:
#  Calculate averages for the desired columns. 
size_math_scores = school_size_df.groupby(["Size Ranges (Per Student)"]).mean()["Average Math Score"]
size_reading_scores = school_size_df.groupby(["Size Ranges (Per Student)"]).mean()["Average Reading Score"]
size_passing_math = school_size_df.groupby(["Size Ranges (Per Student)"]).mean()["% Passing Math"]
size_passing_reading = school_size_df.groupby(["Size Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_size = school_size_df.groupby(["Size Ranges (Per Student)"]).mean()["Overall Pass Rate"]

In [30]:
# Assemble into DataFrame
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    '% Passing Math': size_passing_math,
    '% Passing Reading': size_passing_reading,
    "Overall Passing Rate": overall_passing_size           
})

size_summary.index.name = "Students"
size_summary = size_summary.reindex(size_labels)

size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Students,,,,,
Small (<1000),83.820,83.92500,93.55000,96.10000,94.8250
Medium (1000-2000),83.374,83.86800,93.59800,96.79000,95.1920
Large (2000-5000),77.745,81.34375,69.96375,82.76625,76.3675

### Scores by School Type
Use the `per_school_summary` DataFrame from the previous step to create a new DataFrame called `type_summary`.

This new DataFrame should show school performance based on the "School Type".

In [34]:
# group the data set by school type
school_type_df = per_school_summary.groupby(['School Type'])

# calculate score and passing rate by school type
mean_math_score = school_type_df["Average Math Score"].mean()
mean_reading_score = school_type_df["Average Reading Score"].mean()
mean_percent_math = school_type_df["% Passing Math"].mean()
mean_percent_reading = school_type_df["% Passing Reading"].mean()
overall_percent_pass = (mean_percent_math + mean_percent_reading)/2

#create a df to store Scores by School Type
type_summary = pd.DataFrame({"Average Math Score":mean_math_score,
                                          "Average Reading Score":mean_reading_score,
                                          "% Passing Math":mean_percent_math,
                                          "% Passing Reading":mean_percent_reading,
                                          "Overall Pass Rate":overall_percent_pass
                                         })

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
School Type,,,,,
Charter,83.472500,83.897500,93.620000,96.586250,95.103125
District,76.955714,80.965714,66.548571,80.798571,73.673571

# Written Report (15 points)

To receive all points, the written report presents a cohesive written analysis that:

Summarizes the analysis (5 points)
* In Py City, there are 15 schools ranging in budget, size, and type. We were provided with the students' math and reading scores. From this data we were able to determine the passing rates for both subjects independently and combined. Along with the factors that may lead to student success, such as budget per student.

Draws two correct conclusions or comparisons from the calculations (10 points)
* In this data analysis for Py city, per student budget does not positively correlate with the passing rate, so there may be other factors. 
* We see that charter schools were all the top performers and overall perform better for the overall passing rate (95%).